.card-child {
  width: 100%;
}
.box-percentage {
  padding: 2px;
  border-radius: 5px;
  background-color: #ecfff4;
  text-align: center;
}

.percentage-up {
  color: #40ec88;
}
.percentage-down {
  color: #ec4e40;
}
.percentage-keep {
  color: #40ec88;
}
